In [2]:
import numpy as np
import pandas as pd
from tqdm import tqdm_notebook
df=pd.read_csv('user_info.csv')
df.rename(columns={'Unnamed: 0':'key'},inplace=True)
df.set_index('key',inplace=True)

In [4]:
# df=df[:10]
df=df.dropna(axis=0,how='all')

# use Google API to get standardized address

In [30]:
df['address']=pd.np.NaN
df['latitude']=pd.np.NaN
df['longitude']=pd.np.NaN

In [31]:
from geopy.geocoders import GoogleV3
from geopy.exc import GeocoderTimedOut

#XH
geolocator1 = GoogleV3('AIzaSyBCbCn7IjIRcBCjMS67CKoQC_MdF9DGzXg')
#JS
geolocator2 = GoogleV3('AIzaSyAjRPWhSgHCPW4mUApugrCa8gL3uX-NCBY')
#PJ
geolocator3 = GoogleV3('AIzaSyD1WfX5lvCy4_LhWRJmATmBr8VAcncmb5o')
#KW
geolocator4 = GoogleV3('AIzaSyA0P1rzh37qfGSlR1zqQNAq2YvhX380WDk')

l=len(df)
for i in df[:int(l/4)].index:
    if not pd.isnull(df.loc[i, 'location']):
        try:
            location = geolocator1.geocode(df.loc[i, 'location'], timeout=10)
            df.loc[i, 'address']=location.address
            df.loc[i, 'latitude']=location.latitude
            df.loc[i, 'longitude']=location.longitude
        except:
            pass
            
for i in df[int(l/4):int(l/2)].index:
    if not pd.isnull(df.loc[i, 'location']):
        try:
            location = geolocator2.geocode(df.loc[i, 'location'], timeout=10)
            df.loc[i, 'address']=location.address
            df.loc[i, 'latitude']=location.latitude
            df.loc[i, 'longitude']=location.longitude
        except:
            pass

for i in df[int(l/2):int(l*3/4)].index:
    if not pd.isnull(df.loc[i, 'location']):
        try:
            location = geolocator3.geocode(df.loc[i, 'location'], timeout=10)
            df.loc[i, 'address']=location.address
            df.loc[i, 'latitude']=location.latitude
            df.loc[i, 'longitude']=location.longitude
        except:
            pass
            
for i in df[int(l*3/4):].index:
    if not pd.isnull(df.loc[i, 'location']):
        try:
            location = geolocator4.geocode(df.loc[i, 'location'], timeout=10)
            df.loc[i, 'address']=location.address
            df.loc[i, 'latitude']=location.latitude
            df.loc[i, 'longitude']=location.longitude
        except:
            pass

# select country and region from the address

In [32]:
import pycountry
import reverse_geocoder as rg
countries=[list(pycountry.countries)[i].name for i in range(len(list(pycountry.countries)))]
for i in tqdm_notebook(df.index):
    # if there is only a country in the address, we search in the country list, and label the region and city as None
    if df.loc[i, 'address'] in countries:
        df.loc[i,'city']=pd.np.NaN
        df.loc[i,'region']=pd.np.NaN
        df.loc[i,'country']=df.loc[i, 'location']
    # else if the latitude and longitude are valid, we can reverse search the country and region. 
    # Note: some adddress does not contain city, and reverse_geocoder will automizely use the capital of region to fill in city
    # instead, we use country and region because they are more accurate
    elif not pd.isnull(df.loc[i, 'latitude']) and not pd.isnull(df.loc[i, 'longitude']):
        df.loc[i,'city']=rg.search((df.loc[i, 'latitude'], df.loc[i, 'longitude']))[0]['name']
        df.loc[i,'region']=rg.search((df.loc[i, 'latitude'], df.loc[i, 'longitude']))[0]['admin1']
        df.loc[i,'country']=pycountry.countries.get(
            alpha_2=rg.search((df.loc[i, 'latitude'], df.loc[i, 'longitude']))[0]['cc']
        ).name
    else:
        df.loc[i,'city']=pd.np.NaN
        df.loc[i,'region']=pd.np.NaN
        df.loc[i,'country']=pd.np.NaN

HBox(children=(IntProgress(value=0, max=10), HTML(value='')))

In [36]:
df

,id,name,location,followers_count,following_count,favourites_count,statuses_count,listed_count,created_at,address,latitude,longitude,city,region,country
key,,,,,,,,,,,,,,,
0,1111116117991317505,ssss12s4,NaN,0,195,1,2,0,2019-03-28 04:01:40,NaN,NaN,NaN,NaN,NaN,NaN
1,36213980,freeoftheories,Null Island,476,3164,1621,455,4,2009-04-28 23:39:23,NaN,NaN,NaN,NaN,NaN,NaN
2,992465186362724352,warrior_mhs,"Frisco, TX",154,367,2304,224,0,2018-05-04 18:05:14,"Frisco, TX, USA",33.150674,-96.823612,Frisco,Texas,United States
3,1037764508025012225,BchsAll,"Florida, USA",94,325,72,365,0,2018-09-06 18:08:34,"Florida, USA",27.664827,-81.515754,Avon Park,Florida,United States
4,1148379534,zamazing2,NaN,1,111,4,0,0,2013-02-04 16:03:44,NaN,NaN,NaN,NaN,NaN,NaN
5,1159308178875670528,HEADPOTUS,"Manhattan, NY",95,4264,2401,3923,0,2019-08-08 03:39:43,"Manhattan, New York, NY, USA",40.783060,-73.971249,Manhattan,New York,United States
6,222361662,jorgearturorey,Caracas,28,619,14,3,0,2010-12-03 05:34:09,"Caracas, Capital District, Venezuela",10.480594,-66.903606,Caracas,Capital,"Venezuela, Bolivarian Republic of"
7,1190377110042484738,Rastegueando,NaN,0,17,2,13,0,2019-11-01 21:16:58,NaN,NaN,NaN,NaN,NaN,NaN
8,43534247,arqui_letti,"Curitiba, Brasil",80,1095,1232,1046,2,2009-05-30 14:24:38,"Curitiba - State of Paraná, Brazil",-25.480876,-49.304425,Curitiba,Parana,Brazil
9,909020687934816256,lacenlyn,United States,1503,3838,27006,18169,3,2017-09-16 11:46:35,United States,37.090240,-95.712891,NaN,NaN,United States

# get user's country and region, and two users' distance

In [37]:
def get_country(id):
    return df.loc[df['id']==id,'country'].values[0]

In [38]:
get_country(992465186362724352)

'United States'

In [39]:
def get_region(id):
    return df[df['id']==id]['region'].values[0]

In [40]:
get_region(992465186362724352)

'Texas'

In [41]:
def get_distance(id1,id2):
    from geopy.distance import great_circle
    return great_circle((df[df['id']==id1]['latitude'].values[0],df[df['id']==id1]['longitude'].values[0]), 
                        (df[df['id']==id2]['latitude'].values[0],df[df['id']==id2]['longitude'].values[0])).miles

In [42]:
get_distance(992465186362724352,1037764508025012225)

986.4988848225073

In [ ]:
# df['country']=np.where(df['address'].isin(countries),df['address'],0)
# # df['country']=np.where(~pd.isnull(df['latitude'])&~df['address'].isin(countries)&~pd.isnull(df['country']),
# #                        pycountry.countries.get(alpha_2=pd.DataFrame(rg.search(list(zip(df[~pd.isnull(df['latitude'])]['latitude'],
# #                                          df[~pd.isnull(df['latitude'])]['longitude']))))['cc']
# #                                               ).name,np.NaN)
# df['region']=np.where(~pd.isnull(df['latitude'])&~df['address'].isin(countries),
#                       pd.DataFrame(rg.search(list(zip(df[~pd.isnull(df['latitude'])&~df['address'].isin(countries)]['latitude'],
#                                          df[~pd.isnull(df['latitude'])]['longitude']))))['admin1'],np.NaN)
# df['city']=np.where(~pd.isnull(df['latitude'])&~df['address'].isin(countries),
#                     pd.DataFrame(rg.search(list(zip(df[~pd.isnull(df['latitude'])&~df['address'].isin(countries)]['latitude'],
#                                          df[~pd.isnull(df['latitude'])]['longitude']))))['name'],np.NaN)